<br>
<table class="table">
    <thead class="table">
        <tr>
            <th class="text-center" colspan="7"><h4>ARABALAR</h4></th>
        </tr>
    </thead>
    
    <thead class="table-dark">
      <tr class="text-center">
        <th><i class="fa-solid fa-car"></i></th>
        <th scope="col">MARKA</th>
        <th scope="col">MODEL</th>
        <th scope="col">MODEL YILI</th>
        <th scope="col">RENK</th>
        <th scope="col">GÜNLÜK FİYAT</th>
        <th scope="col">DETAY</th>
      </tr>
    </thead>
    <tbody>
      <tr class ="text-center " *ngFor = "let carDetail of carDetails">
        <td><i class="fa-solid fa-car"></i></td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.modelName}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.dailyPrice}} ₺</td>
        <td><button class="btn btn-outline-danger">Detayı Gör</button></td>
      </tr>
  
    </tbody>
</table>
