<br>
<!-- <table class="table">
    <thead class="table">
        <tr>
            <th class="text-center" colspan="7"><h4>ARABALAR</h4></th>
        </tr>
    </thead>
    
    <thead class="table-dark">
      <tr class="text-center">
        <th><i class="fa-solid fa-car"></i></th>
        <th scope="col">MARKA</th>
        <th scope="col">MODEL</th>
        <th scope="col">MODEL YILI</th>
        <th scope="col">RENK</th>
        <th scope="col">GÜNLÜK FİYAT</th>
        <th scope="col">DETAY</th>
      </tr>
    </thead>
    <tbody>
      <tr class ="text-center " *ngFor = "let carDetail of carDetails">
        <td><i class="fa-solid fa-car"></i></td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.modelName}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.dailyPrice}} ₺</td>
        <td><button class="btn btn-outline-danger">Detayı Gör</button></td>
      </tr>
  
    </tbody>
</table> -->
<div class="mb-3"> 
  <input  type="text" [(ngModel)] ="filterText" class="form-control" id="filterText" placeholder="Aradığınız Kelimeyi Yazınız">
</div>

<div *ngIf = "filterText.length>2" class="alert alert-danger">
  {{filterText |uppercase}} Aradınız
</div>  


<div class="row">
  <div class="col-md-4" *ngFor = "let carDetail of carDetails | filter:filterText">
    <div class="card" style="width: 18rem;">
      <img [src] ="getCarImage(carDetail)" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title text-center">{{carDetail.brandName |uppercase}} </h4>
        <h6 class="text-center">{{carDetail.modelName}} </h6>
      </div>
      <ul class="list-group list-group-flush text-center text-bolder">
        <li class="list-group-item"><i><b>Model Yılı</b></i> | {{carDetail.modelYear}}</li>
        <li class="list-group-item"><i><b>Günlük Fiyat</b></i> | {{carDetail.dailyPrice | currency:"₺" }}</li>
        <li class="list-group-item"><i><b>Aylık Fiyat</b></i> | {{carDetail.dailyPrice  | priceAdd:2000 |  currency:"₺"}}</li>

      </ul>
      <div class="card-body text-center">
        <a href="#" class="btn btn-outline-secondary" (click) = "setCurrentCarDetail(carDetail)"  routerLink = "/cars/car-detail-page/{{carDetail.carId}}">Detaya Git</a>
      
      </div>
    </div>
    <br>
  </div>
 
</div>


